{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

        {{#post}}
                    <div class="box-main">
                        <h4 class="text-left modal-post"><i class="fa fa-chevron-right fa-2x"></i>{{title}} <p class="text-right">{{date format='YYYY-MM-DD'}}</p></h4>
                            <p class="text-justify">{{content}}
                            </p>
                    </div>
        {{/post}}
