@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


/* dont expand images too far in excerpt */
.box-main img {
    width: 100%;
}


/* box on home page */
.box-main {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
}
