/* general stuff */
html body {
      background-color: #e5e5e5;
      font-family: 'Roboto', sans-serif;
}

.container-fluid{
    margin:0;
    padding-top: 200px;
    height: 100%;
    background-color: #e5e5e5;
    margin-bottom:30px;
}

.container{
    width: 100% !important;
}

p {
    margin-left: 40px;
    margin-right:40px;
}

a i {
    background: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

a i:hover {
  background: #00A329;
}

/*basic header */
#header {
    position: fixed;
    background-color: #00A329;
    color: #ffffff;
    width: 100%;
    height: 200px;
    margin: 0;
}

.blogtitle {
font-size: 55px;
padding-top: 90px;
margin-left: 20%;
}

#header img {
    width: 100%;
    height:200px;
    overflow: hidden;
}

#backtotop{
    position:absolute;
}

/* home page look and feel */
.row {
  margin-left: 20%;
  margin-right:20%;
}

.fa-2x {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 10px;
}

/* modal stuff */
.modal-post {
      background-color: #00A329;
      color: #ffffff;
      height: 100px;
}

/* read more link */
.readmore {
      background-color: #00A329;
      color: #ffffff;
      padding: 10px;
       text-decoration: none;
}
