  <header>
  <div id="header">
        <p class="blogtitle"><a href="{{@blog.url}}" id="headerurl">{{@blog.title}}</a></p>
        <p class="blogdescription">{{@blog.description}}</p>
         <div id="about"><a href="#aboutModal2" data-toggle="modal" data-target="#myModal2"><i class="fa fa-question fa-2x"></i></a></div>
        {{> social}}
    </div>
</header>
